accelerate>=0.27.2
beautifulsoup4
datasets>=2.14.3
einops
fake-useragent
fastapi
fire
gradio
gradio>=4.0.0
jieba
lxml
matplotlib
multiprocess
openai
packaging
paddleocr
pandas
patch-ng
peft>=0.10.0
Pillow
protobuf
pydantic
python
pyyaml
requests
scipy
sentencepiece
sse-starlette
torch
transformers>=4.37.2
trl>=0.8.1
uvicorn
git-lfs
dashscope
http